<%@ include file="/WEB-INF/jsp/include.jsp" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<style>
	
	.infoBox {
		background-color:transparent;
		border:1px solid #778CBF;
		display:block;
		float:left;
		clear:both;
		color:#444;
		font-size:x-small;
		margin:5px 0px 5px 0px;
		padding:5px 5px 5px 5px};
	}
	
</style>
#macro ( booleanField $field $fieldName )
      <spring:bind path="bean.privacyResponse.${field.fieldNamePath}">
	    <c:if test="${status.error}">
	    	<td colspan="3">
	        	<div class="validation"><c:out value="${status.errorMessage}"/></div>
	        </td>
	      </tr>
	      <tr>
	    </c:if>
        <td align="right" nowrap  >
			#if ($field.schema.minOccurs > 0) 
				<font color="#CC0000">*</font>
			#end
        	<!--	<font color="red"><c:out value="${status.errorMessage}"/></font>  -->
            <input type="checkbox" 
               name="<c:out value="${status.expression}"/>_checkBox" 
               value="true" 
               <c:if test="${status.value}">checked</c:if>
               onChange="form['<c:out value="${status.expression}"/>'].value=this.checked" 
               />
				<input type="hidden" name="<c:out value="${status.expression}"/>"
               value="<c:out value="${status.value}"/>" />
			</td>
      </spring:bind>
#end

#macro ( editXmlField $field $fieldName )

    <tr>
		#if ($field.schema.objectType.name == 'java.lang.Boolean')
			#booleanField( $field $fieldName )
		#end
      <td><osp-h:glossary link="true" hover="true">
      #if ($field.annotations.containsKey("label"))
			$field.annotations.label
		#else
			$field.fieldName
		#end
		</osp-h:glossary>
		</td>
    </tr>
    <tr>
    <td align="right">&nbsp;</td>
    <td>
    <osp-h:glossary link="true" hover="true">
      #if ($field.annotations.containsKey("description"))
         $field.annotations.description  
      #end
      </osp-h:glossary>
    </td>
    </tr>

#end


<form method="POST">
<osp:form/>
<table border="0" cellspacing="5" cellpadding="5">


   <tr> 
      <td colspan="2">
         <b>#if ($schema.annotations.containsKey("label"))
         $schema.annotations.label  
      #end 
          (required fields are noted with an <span class="reqStarInline"/>*</span>)</b>
      </td>
   </tr>


#foreach($field in $schema.fields)
   #editXmlField( $field ${field.fieldName} )
#end    
   

<tr>

<td colspan="2">

  <spring:hasBindErrors name="bean.privacyResponse">
    <!--<font color="red"><b>Please fix all errors!</b></font>-->
  </spring:hasBindErrors>
   
</td>
</tr>
<tr>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td colspan="2"><osp-h:glossary link="true" hover="true"><div class="infoBox">
	#if ($schema.annotations.containsKey("description"))
      $schema.annotations.description  
   #end  
   </div></osp-h:glossary>
</td>
</tr>
<tr>

<td colspan="2">
  <input type="hidden" name="schema" value="${schema.schemaName}"/>
  <div class="act">
     <input class="active" type="submit" alignment="center" value="Continue">
     <input type="button" alignment="center" value="Cancel" onclick="location.href='<osp:url value="/viewCell.osp?cell_id=${bean.cell.id}"/>'">
  </div>
</td>
</tr>

</table>
</form>
