/* Styles for the xheader */    
.xheader {
     background-color:#808080;
     color:#FFFFFF;
     font-size: 17px;
     vertical-align: middle;
     height:23;
 }
 .xhItalics {
     background-color:#808080;
     color:#FFFFFF;
     font-size: 17px;
     font-style: italic;
 }
 .xhSmallFont {
     background-color:#808080;
     color:#FFFFFF;
     font-size: 17px;
     font-size: 14px;
 }
 .theUnderArea {
     border-color: #808080;
     border-style: solid;
     border-width: thick;        
 }
    
    
/* Styles for the wizardSteps */    
   td.previous_state {color: #B7BBC2;}
   div.previous_state {color: #000000; background-image: url("/osp-jsf-resource/wizardSteps/images/wizard_circle_g.png");
      background-repeat: no-repeat; background-position: center; text-align: center; height: 20;}
   td.current_state {color: #000000;}
   div.current_state {color: #FFFFFF; background-image: url("/osp-jsf-resource/wizardSteps/images/wizard_circle_b.png");
      background-repeat: no-repeat; background-position: center; text-align: center; height: 20;}
   td.next_state {color: #000000;}
   div.next_state {color: #000000; background-image: url("/osp-jsf-resource/wizardSteps/images/wizard_circle_w.png");
      background-repeat: no-repeat; background-position: center; text-align: center; height: 20;}
   td.disabled_state {color: #FF0000;}
   div.disabled_state {color: #000000; background-image: url("/osp-jsf-resource/wizardSteps/images/wizard_circle_r.png");
      background-repeat: no-repeat; background-position: center; text-align: center; height: 20;}

 .osp_tab {
    border-color: #808080;
     border-style: solid;
     border-width: thin;
     background-color: #B7BBC2;
 }
 .osp_tab_selected {
    border-color: #B0B0B0;
     border-style: solid;
     border-width: thin;
     background-color: #D7DBD2;
 }