UNKNOWN {
   FONT-SIZE: 0.8em; COLOR: #FF0000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;
}

/*-------------------- Comments Setup --------------------------------*/
div.ospComments {
	background-color: #FFFFFF;
	margin: 15px;
	padding: 10px;
	vertical-align: top;
	border-top: 1px dashed #CC9900;
}

.ospComments h1 {}
.ospComments h2 {
	font-family : Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #CC9900;
}
.ospComments h3 {
	font-family : Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: Black;
}
.ospComments h4 {text-indent: 20px;color: green;}
.ospComments h4 a:hover   {color:#51698D; text-decoration: underline;}
.ospComments h5 {}
.ospComments p {margin-left: 30px;}
.ospComments .pipe {color:#51698D;}
.ospComments table tr td {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	vertical-align: top;		
}

div.ospEmbedded {
   border:1px solid #AAAAAA;
   padding-left: 2px;
   padding-left: 2px;
}


.title {
   FONT-SIZE: medium; COLOR: #000000; FONT-FAMILY: Verdana
}

.error_message {  font-family: Verdana, Verdana, Verdana, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; color: #FF0000}


TABLE.header-table { background-color: #5b5b98; width: 50% }

TD.header-info-small { height: 30px; color: #ffffff; font-size:.8em; font-family: Verdana, Verdana, Verdana, sans-serif;}
TD.header-info { COLOR: #ffffff; font-size:12pt; font-family: Verdana, Verdana, Verdana, sans-serif;}
TD.header-item { COLOR: #000000; font-weight: bold; font-size:.8em; font-family: Verdana, Verdana, Verdana, sans-serif;}
TD.reviewer-cell { border-color: #000000; border-spacing: 2px; border-width: 1px; border-style: solid; padding: 5px;}

.matrixLegendTable{
	width:auto;
}
.matrixLegendTable td{
	width:2em;
}
TD.matrix-cell-border{
      border-bottom: 2px solid black;
      border-left: 2px solid black;}

TD.matrix-COMPLETE, INPUT.matrix-COMPLETE { background-color: #a6c7ea;}
TD.matrix-PENDING, INPUT.matrix-PENDING { background-color: #f7ef84;}
TD.matrix-READY, INPUT.matrix-READY { background-color: #86f283;}
TD.matrix-LOCKED, INPUT.matrix-LOCKED { background-color: #ac326b;}

TD.matrixLegend-border{ border: 1px solid black;}

TH.matrix-column-heading { border-bottom: 2px solid black; border-left: 2px solid black; 
      font-family: Verdana, Verdana, Verdana, sans-serif; font-size: 10pt; width: 10%; }
TH.matrix-row-heading { height: 50px; border-bottom: 2px solid black;
      font-family: Verdana, Verdana, Verdana, sans-serif; font-size: 10pt; width: 10%; }
TH.reviewer-heading { background-color: #ffff99; font-weight: bold; text-decoration: underline; color: #0000ff; 
   font-family: Verdana, Verdana, Verdana, sans-serif; font-size:10pt;
   border-color: #000000; border-spacing: 2px; border-width: 1px; border-style: solid;
   height: 35px; vertical-align: bottom; padding: 5px;}


.matrixColumnDefault { color: #000000; }
.matrixRowDefault { color: #000000; }

/* These should be the same as the above font colors, this class is used when 
 * displaying the color swatch for the color picker
 */
.matrixColumnFontAsBGDefault { background-color: #000000; }
.matrixRowFontAsBGDefault { background-color: #000000; }

IMG.middle-aligned { vertical-align: middle }

TD.barUsed {background-color: #b9d05a;}
TD.barFree {background-color: #ffffff;}
TABLE.progressBar {
   border: 1px solid black;
}
TABLE.quota {
   font-size: smaller; 
}


/* table rows, alternating row colors - used in "present_step2.htm" */
.alternating td { padding: 10px; }
      .alternating .bg { background-color: #EAEAE7; }
      .alternating h3 { margin-top: 3px; margin-bottom:0px; }
      .alternating .underline td { border-bottom: 1px dotted gray; }
      .alternating .red { color: red; }
      .alternating .gray { color: gray; }
      .alternating .button {font-size: smaller; margin-bottom: 2px; width: 80px;}

show {
   visibility: visible;
}

hide {
   visibility: hidden;
}

INPUT.colorBox {
	border: 1px solid black;
	width:32px;
	height:16px;
	margin-left:20px;
}

.colorBox {
	width:8em;
	border: 1px solid black;
	padding:.1em .5em
	}
.colorBoxNone {
	width:8em;
	border: 1px solid black;
	padding:.1em 1.5em;
	background:#eee url(../img/inact.gif) top left repeat-x;
	color:#000;
	padding:.1em .5em
}

/*give some boxes in matrix/wizards some definition*/
.bordered-l{
 	border:1px solid #bbb
 }
 
 .xheader {
/*  background-color:#eee;
*/  color:gray !important;
		font-weight: bold;
		font-size:1.2em;
     vertical-align: middle;
	  padding:.3em 0;	

 }
.fieldsetVis{
	border:1px solid #ccc;
	padding:1em
}
.fieldsetVis legend{
	border:1px solid #ccc;
	font-size: 120%;
	color:gray;
	padding:.3em	
}

.wizardSupportTableHead{
	text-align: right !important;
}
.matrixCellList{
	width:100%;
	margin: 1em 0
}

.matrixCellList tr:hover{
	background: #ffc
}

.matrixCellList th{
	padding:.4em .2em;
	border-bottom:2px solid #aaa;
	border-top:2px solid #aaa;
	background: #ddd;
	font-weight: bold;
	text-align: left
}

.matrixCellList td{
	padding:.4em .2em;
	text-align: left	
	
}
.matrixCellList tr.cellItemAddLine, .matrixCellList tr.cellItemAddLine:hover{
	background:#eee
}

.matrixCellList h4, .matrixCellList h5, .matrixCellList h6{
	font-weight:normal;
	display:inline;
	margin:0;
	padding:0;
	color:#000
}

.matrixCellList .itemAction  a, .matrixCellList .itemAction  a:link{
	color: #27d;
	padding: .2em .3em 1px 0;
	white-space: nowrap;
	border-bottom: none !important;
}

.matrixCellList .itemAction  a:visited{
	color: #27d;
	text-decoration: none !important;
}

.matrixCellList .itemAction  a:hover{
	color: #27d; /*for ie*/
	text-decoration: underline !important; 
}
